<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/select2-bootstrap-5-theme.min.css') }}">
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
        <script>
            $(document).ready(function() {
                $('.custom-select').select2(
                    {
                        theme: 'bootstrap-5',
                        placeholder: 'Select a source',
                        allowClear: false
                    }
                );
            });
            function flush() {
                document.getElementById("prompt").value = "";
                document.getElementById("dataset").value = "";
    
                // send a post request to the server to /flush
                $.ajax({
                    type: "POST",
                    url: "/flush",
                    success: function (response) {
                        console.log(response);
                    }
                });
    
            }
        </script>
        <script type="module">
            import markdownIt from 'https://cdn.jsdelivr.net/npm/markdown-it@14.1.0/+esm'
            const md = new markdownIt();
            const metadata_info = `{{ metadata_info }}`;
            document.getElementById('metadata_info_paragraph').innerHTML = md.render(metadata_info);
        </script>
        <title>VisuaLLMize</title>
    </head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">VisuaLLMize</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>Data Summary</h1>
        <!-- paragraph with summary text -->
        <p id="metadata_info_paragraph">{{ metadata_info }}</p>
        <h1>Visualizations</h1>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row row-cols-auto g-4 p-5 justify-content-center">
            {% for image in images %}
            <div class="col">
                <div class="card">
                    <img src="{{ url_for('static', filename='plots/' + image) }}" class="card-img-top img-fluid" alt="{{ image }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ image }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>